---
interface Props {
    title: string;
    src: string;
}

const { title, src } = Astro.props as Props;
---

<div class="d-flex rounded overflow-hidden mb-3">
    <img
        class="img-fluid"
        src={src}
        style="width: 100px; height: 100px; object-fit: cover;"
        alt=""
    />
    <a
        href="/blog"
        class="h5 fw-semi-bold d-flex align-items-center bg-cosmic-latte px-3 mb-0"
    >
        {title}
    </a>
</div>
