---
interface Props {
    slug: string;
    category: string;
}
const { slug, category } = Astro.props as Props;
---

<a
    class="h5 fw-semi-bold bg-cosmic-latte rounded py-2 px-3 mb-2"
    href={`/blog/category/${slug}`}
>
    <i class="bi bi-arrow-right me-2"></i>{category}
</a>
