<div class="d-flex my-4">
    <img
        src="https://via.placeholder.com/100x100"
        class="img-fluid rounded"
        style="width: 45px; height: 45px;"
    />
    <div class="ps-3">
        <h6>
            <a href="">John Doe</a>
            <small><i>01 Jan 2045</i></small>
        </h6>
        <p>
            Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua,
            tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna
            dolores sed eirmod
        </p>
        <button class="btn btn-sm btn-light"> Reply </button>
        <slot />
    </div>
</div>
