<div class="bg-cosmic-latte rounded p-5">
    <div class="section-title section-title-sm position-relative pb-3 mb-4">
        <h3 class="mb-0">Leave A Comment</h3>
    </div>
    <form>
        <div class="row g-3">
            <div class="col-12 col-sm-6">
                <input
                    type="text"
                    class="form-control bg-white border-0"
                    placeholder="Your Name"
                    style="height: 55px;"
                />
            </div>
            <div class="col-12 col-sm-6">
                <input
                    type="email"
                    class="form-control bg-white border-0"
                    placeholder="Your Email"
                    style="height: 55px;"
                />
            </div>
            <div class="col-12">
                <input
                    type="text"
                    class="form-control bg-white border-0"
                    placeholder="Website"
                    style="height: 55px;"
                />
            </div>
            <div class="col-12">
                <textarea
                    class="form-control bg-white border-0"
                    rows="5"
                    placeholder="Comment"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit"
                    >Leave Your Comment</button
                >
            </div>
        </div>
    </form>
</div>
