---
// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import BlogItem from "../../components/Blog/BlogItem.astro";
import BlogSidebar from "../../components/Blog/BlogSidebar.astro";

// Assets
import TitleImage from "../../assets/img/carousel-1.jpg";
---

<PageLayout
    page_title="blogs"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.1s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.6s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.1s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.6s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.1s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.6s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.1s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.6s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.1s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div
                            class="col-md-6 wow slideInUp"
                            data-wow-delay="0.6s"
                        >
                            <BlogItem
                                thumbnail="https://picsum.photos/seed/idk/500/350"
                                topic="Blog Topic"
                                title="Blog Title"
                                author="John Doe"
                                date="01 Jan, 2045"
                                content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
                            />
                        </div>
                        <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg m-0">
                                    <li class="page-item disabled">
                                        <a
                                            class="page-link rounded-0"
                                            href="#"
                                            aria-label="Previous"
                                        >
                                            <span aria-hidden="true">
                                                <i class="bi bi-arrow-left"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link rounded-0"
                                            href="#"
                                            aria-label="Next"
                                        >
                                            <span aria-hidden="true">
                                                <i class="bi bi-arrow-right"
                                                ></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Blog list End -->

                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <BlogSidebar />
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
</PageLayout>
