---
// Layout
import ServiceLayoutBase from "../../layouts/ServiceLayoutBase.astro";

// Components
import Section from "../../layouts/Section.astro";

const TempImage: ImageMetadata = {} as ImageMetadata;
TempImage.src = "https://via.placeholder.com/1280x720";
---

<style>
    .feature {
        position: relative;
        height: 225px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .feature h4 {
        margin: 5px 0 10px 0;
    }

    h4.sidebar {
        margin-bottom: 1rem;
        text-transform: capitalize;
        position: relative;
        padding-left: 15px;
    }
    h4.sidebar::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: #f2c202;
    }

    .feature p {
        margin: 0;
        line-height: 1.6;
    }
</style>

<ServiceLayoutBase
    service_title="Hotel Security Services"
    service_path="hotel-security"
    service_description="some description"
    service_img={TempImage}
>
    <p slot="first-paragraph">
        With a highly trained, fully licensed team security professionals, EyeQ
        Security can provide you with manned guarding security for the safety
        and security of your clients and customers.
    </p>
    <Section title_top="Hotel Security Duties" title_main="What's Included">
        <div class="row p-0">
            <div class="col-md-6">
                <div class="feature">
                    <h4 class="sidebar">Perform Surveillance</h4>
                    <p>
                        The bulk of hotel security's day is filled with
                        patrolling hotel grounds, parking lots, lobbies,
                        restaurants, and hallways. They provide a sense of
                        security to both hotel staff and guests simply by being
                        present. Depending on hotel resources and size, some
                        hotel security may be assigned to a surveillance room,
                        where they monitor the hotel via security cameras
                    </p>
                </div>
                <div class="feature">
                    <h4 class="sidebar">
                        Escort People In/Out of the Hotel (if needed)
                    </h4>
                    <p>
                        Hotel security is also responsible for escorting guests
                        and hotel staff to and from the hotel. If valet parking
                        is unavailable late at night, hotel security may escort
                        guests and staff in order to protect them. Additionally,
                        hotel security may need to escort belligerent guests off
                        hotel property, especially in hotels that have bars.
                    </p>
                </div>
                <div class="feature">
                    <h4 class="sidebar">Maintain Order</h4>
                    <p>
                        Hotels that have conference centers or are near
                        conference centers often hold concurrent conferences or
                        conventions. During these times, the hotel experiences a
                        high volume of guests. Hotel security is often expected
                        to maintain order among the different groups of guests.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <h4 class="sidebar">
                        Report to Supervisors and Management
                    </h4>
                    <p>
                        Hotel security is responsible for reporting all
                        suspicious activity to their supervisors or hotel
                        management. Usually, hotel security should report
                        current events in real-time through their radio and
                        document events that have already been resolved.
                    </p>
                </div>
                <div class="feature">
                    <h4 class="sidebar">Investigate Disturbances</h4>
                    <p>
                        Hotel security must be on call anytime during their
                        shift to investigate disturbances reported by hotel
                        staff and guests. This can include things like excess
                        noise coming from a guest's room or reports of
                        suspicious people prowling the parking lot. Count on us
                        in case you are looking to hire the best yet the most
                        affordable security services in the region.
                    </p>
                </div>
            </div>
        </div>
    </Section>
</ServiceLayoutBase>
