---
// Static Data
import serviceTitles from "../../data/serviceBtns";
import serviceBriefs from "../../data/serviceBriefs";
// Layout
import PageLayout from "../../layouts/PageLayout.astro";
// Components
import Section from "../../layouts/Section.astro";
import ServiceButton from "../../components/Service/ServiceButton.astro";
import ServiceTabPane from "../../components/Service/ServiceTabPane.astro";
import QuoteLight from "../../components/Layout/QuoteLight.astro";
// Assets
import TitleImage from "../../assets/img/carousel-1.jpg";
---

<PageLayout
    nav_active="services"
    page_title="services"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- Service Selector Start -->
    <Section
        class="services"
        title_top="Our Services"
        title_main="Our Top Notch Security Services"
    >
        <!-- 13 -->
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-6 col-lg-3 order-1 order-lg-1">
                <div class="nav nav-pills w-100 me-4">
                    {
                        serviceTitles
                            .slice(0, 7)
                            .map((sbtn) => <ServiceButton {...sbtn} />)
                    }
                </div>
            </div>
            <div class="col-12 col-lg-6 order-3 order-lg-2">
                <div class="tab-content w-100">
                    {
                        serviceBriefs.map((service) => (
                            <ServiceTabPane {...service} />
                        ))
                    }
                </div>
            </div>
            <div class="col-6 col-lg-3 order-2 order-lg-3">
                <div class="nav nav-pills w-100 me-4">
                    {
                        serviceTitles
                            .slice(7, serviceTitles.length)
                            .map((sbtn) => <ServiceButton {...sbtn} />)
                    }
                </div>
            </div>
        </div>
    </Section>
    <!-- Service Selector End -->

    <!-- <div>
        <h4>
            Temp Section for Security Services in services.pdf but not in main
            pdf
        </h4>
        <ul>
            <li><a href="/services/bank-security">Bank Security</a></li>
            <li>
                <a href="/services/manpower-solutions">Man Power Solutions</a>
            </li>
            <li>
                <a href="/services/parking-enforcement">Parking Enforcement</a>
            </li>
            <li><a href="/services/security-audit">Seurity Audit</a></li>
            <li>
                <a href="/services/threat-risk-management">
                    Threat & Risk Management
                </a>
            </li>
        </ul>
    </div> -->

    <!-- Quote Start -->
    <Section class="bg-gray">
        <QuoteLight />
    </Section>
    <!-- Quote End -->
</PageLayout>
