---
import PageLayout from "../../layouts/PageLayout.astro";

// Assets
import TitleImage from "../../assets/img/carousel-1.jpg";
---

<PageLayout
    page_title="services"
    page_description="some description"
    background_image={TitleImage}
>
    <h1>Services</h1>
</PageLayout>
