---
// Layouts
import ServiceLayoutBase from "../../layouts/ServiceLayoutBase.astro";

// Components
import SectionFluid from "../../layouts/SectionFluid.astro";
import Button from "../../components/Layout/Button.astro";

const ServiceImg = {} as ImageMetadata;
ServiceImg.src = "https://via.placeholder.com/400x300";
---

<ServiceLayoutBase
    service_title="Threat & Risk Mangement"
    service_path="/threat-risk-management"
    service_description="some description"
    service_img={ServiceImg}
    cta_text="Contact us today and get a professional threat and risk management services that meets and exceeds your needs."
>
    <p class="fst-italic" slot="italic-paragraph">
        Threat and Risk management is a forward-thinking strategy that protects
        your business. Keep reading to learn more.
    </p>
    <p slot="first-paragraph">
        While knowing how to respond to threats should be a priority, there's
        one thing that's more important and effective at protecting your
        property: prevention.
    </p>
    <p slot="second-paragraph">
        The goal is to never have to put your response plan into action; if you
        effectively prevent threats, you won't have to. Risk management reduces
        your organization&#39;s potential exposure to threats.
    </p>
    <SectionFluid>
        <div class="row m-0">
            <div class="col-lg-6 p-0 order-2 order-lg-1">
                <img
                    class="img-fluid w-100"
                    src="https://via.placeholder.com/400x300"
                />
            </div>
            <div
                class="col-lg-6 p-5 order-1 order-lg-2 d-flex align-items-center"
            >
                <div>
                    <div class="mb-4">
                        <h4 class="underline">
                            What is the definition of threat and risk
                            management?
                        </h4>
                        <p>
                            Threat and risk management involve figuring out what
                            those risks are, studying them, and having a plan in
                            place to prevent those risks from becoming threats.
                        </p>
                    </div>
                    <div>
                        <h4 class="underline">
                            Why Is Threat and Risk Management Necessary?
                        </h4>
                        <p>
                            Whether you know it or not, you put yourself and
                            your organisation at risk every day. What's
                            important is knowing exactly what those risks are.
                        </p>
                        <p>
                            From competitors to former employees and the general
                            public, you may be surrounded by risk every day and
                            not even know it.
                        </p>
                        <p>
                            Threat and risk management is difficult to perform
                            independently, as you may need to recognise common
                            risks to your organisation due to your close
                            familiarity. Instead, it's best to outsource your
                            workplace threat and risk management to an
                            experienced third party that can carry out a
                            thorough examination process and recognise even the
                            most unsuspecting risks to you and your
                            organization. That's where EyeQ Security Services
                            comes in.
                        </p>
                    </div>
                    <Button href="/contact">Book an Appointment Today</Button>
                </div>
            </div>
        </div>
    </SectionFluid>
    <SectionFluid>
        <div class="row m-0">
            <div class="col-lg-6 p-5 d-flex align-items-center">
                <div>
                    <div class="mb-4">
                        <h4 class="underline">
                            EyeQ Security Treat and Risk Management
                        </h4>
                        <p>
                            EyeQ Security provides that crucial outside
                            perspective to determine risks to your safety and
                            security that you may not have even known existed.
                        </p>
                        <p>
                            For one, we can provide you with crime statistics
                            around your area to better understand how safe you
                            are. From theft to assault, knowing precisely what's
                            going on around you gives you a better idea of your
                            exposure and risk.
                        </p>
                        <p>
                            Moreover, we in depth study into existing threats
                            and know exactly what's going on. This process
                            reduces uncertainty and informs decision-makers of
                            potential issues so you can plan exactly what to do.
                        </p>
                        <p>
                            From there, we offer reliable, highly effective
                            protection security management solutions that
                            protect you, your organization, your property, and
                            your family from future incidents. We can help you
                            get ready for and prevent the worst.
                        </p>
                    </div>
                    <div>
                        <h4 class="underline">
                            Top Treat and Risk Management Service In Manitoba
                        </h4>
                        <p>
                            Don't spend one more day without knowing your risk.
                            Contact us today and get a professional threat and
                            risk management services that meets and exceeds your
                            needs.
                        </p>
                    </div>
                    <Button href="/contact">Book an Appointment Today</Button>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <img
                    class="img-fluid h-100 w-100"
                    src="https://via.placeholder.com/400x300"
                />
            </div>
        </div>
    </SectionFluid>
</ServiceLayoutBase>
