---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    image: ImageMetadata;
    service: string;
    descriptiton?: string;
    active?: boolean;
}

const props = Astro.props as Props;
const { image, service, descriptiton } = props;
---

<div class={"tab-pane fade" + (props.active && " show active")} id={props.id}>
    <img
        class="img-fluid w-100 mb-3 border border-dark shadow-md"
        src={image.src}
        style="object-fit: cover;"
        alt=""
    />
    <div class="border border-dark p-4">
        <h3 class="mb-3">{service}</h3>
        <p class="mb-4">
            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
            diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
            lorem sit clita duo justo magna dolore erat amet
        </p>
        <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p>
        <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p>
        <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p>
        <a href="" class="btn btn-primary py-3 px-5 mt-3"
            >Read More<i class="fa fa-arrow-right ms-3"></i></a
        >
    </div>
</div>

<!-- Reference -->
<!-- <div class="tab-pane fade show active" id="tab-pane-1">
    <div class="row g-4">
        <div class="col-md-6" style="min-height: 350px;">
            <div class="position-relative h-100">
                <img
                    class="position-absolute img-fluid w-100 h-100"
                    src="img/service-1.jpg"
                    style="object-fit: cover;"
                    alt=""
                />
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="mb-3">15 Years Of Experience In Auto Servicing</h3>
            <p class="mb-4">
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                sed stet lorem sit clita duo justo magna dolore erat amet
            </p>
            <p>
                <i class="fa fa-check text-success me-3"></i>Quality Servicing
            </p>
            <p>
                <i class="fa fa-check text-success me-3"></i>Expert Workers
            </p>
            <p>
                <i class="fa fa-check text-success me-3"></i>Modern Equipment
            </p>
            <a href="" class="btn btn-primary py-3 px-5 mt-3"
                >Read More<i class="fa fa-arrow-right ms-3"></i></a
            >
        </div>
    </div>
</div> -->
