---
// Types
import type { ServiceBreif } from "../../types";

interface Props extends ServiceBreif {}

const props = Astro.props as Props;
let { image, service, description, link } = props;
link = link ? "/" + link : "";
---

<div class={"tab-pane fade" + (props.active && " show active")} id={props.id}>
    <img
        class="img-fluid w-100 mb-3 border border-dark shadow-md"
        src={image.src}
        style="object-fit: cover;"
        alt=""
    />
    <div class="border border-dark p-4">
        <h3 class="mb-3">{service}</h3>
        <p class="mb-4">
            {
                description
                    ? description
                    : "Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet"
            }
        </p>
        <!-- <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p>
        <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p>
        <p>
            <i class="fa fa-check text-success me-3"></i>Quality 1
        </p> -->

        {
            link && (
                <a
                    href={`/services${link}`}
                    class="btn btn-primary py-3 px-5 mt-3"
                >
                    Read More
                    <i class="fa fa-arrow-right ms-3" />
                </a>
            )
        }
    </div>
</div>
