---
import BlogCard from "../Blog/BlogCard.astro";
---

<div class="row g-5">
    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <BlogCard
            thumbnail="https://picsum.photos/seed/idk/500/350"
            topic="Blog Topic"
            title="Blog Title"
            author="John Doe"
            date="01 Jan, 2045"
            content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
        />
    </div>
    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
        <BlogCard
            thumbnail="https://picsum.photos/seed/idk/500/350"
            topic="Blog Topic"
            title="Blog Title"
            author="John Doe"
            date="01 Jan, 2045"
            content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
        />
    </div>
    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
        <BlogCard
            thumbnail="https://picsum.photos/seed/idk/500/350"
            topic="Blog Topic"
            title="Blog Title"
            author="John Doe"
            date="01 Jan, 2045"
            content_preview="Dolor et eos labore stet justo sed est sed sed sed dolor stet amet"
        />
    </div>
</div>
