---
// Components
import { Image } from "astro:assets";

// Assets
import Logo from "../../assets/img/logo_png.png";
---

<footer class="footer">
    <div class="container my-5">
        <div class="row">
            <!-- Company Section -->
            <div class="col-lg-2 col-md-6 mb-4">
                <div
                    class="section-title section-title-sm position-relative pb-3 mb-4"
                >
                    <h3 class="text-light mb-0">Company</h3>
                </div>
                <ul>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/careers">Careers</a>
                    </li>
                    <li>
                        <a
                            href="/contact"
                            class="btn btn-primary mt-2"
                            style="color: black;"
                        >
                            Request A Quote
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Services Section -->
            <div class="col-lg-2 col-md-6 mb-4">
                <div
                    class="section-title section-title-sm position-relative pb-3 mb-4"
                >
                    <h3 class="text-light mb-0">Services</h3>
                </div>
                <ul>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services/general-security">General Security</a
                        >
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services/bank-security">Bank Security</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services/hospital-security"
                            >Hospital Security</a
                        >
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services/school-security">School Security</a>
                    </li>
                    <li>
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        <a href="/services/mobile-patrol">Mobile Patrol</a>
                    </li>
                </ul>
            </div>
            <!-- Support Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div
                    class="section-title section-title-sm position-relative pb-3 mb-4"
                >
                    <h3 class="text-light mb-0">Contact Us</h3>
                </div>
                <div class="contact-info">
                    <p>
                        <i class="bi bi-geo-alt-fill"></i>1800 Logan Ave, Unit
                        #2, Winnipeg, Manitoba. R2R 0H3
                    </p>
                    <p>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="te:+204 202-7287"> +1 204 202-7287 </a>,
                        <a href="te:+204 881-1947">+1 204 881-1947</a>
                    </p>
                    <a href="mailto:info@eyeqsecurity.ca">
                        <i class="bi bi-envelope-fill"></i>info@eyeqsecurity.ca
                    </a>
                    <!-- <div class="d-flex mt-4">
                        <a class="btn btn-primary btn-square me-2" href="#"
                            ><i class="fab fa-twitter fw-normal"></i></a
                        >
                        <a class="btn btn-primary btn-square me-2" href="#"
                            ><i class="fab fa-facebook-f fw-normal"></i></a
                        >
                        <a class="btn btn-primary btn-square me-2" href="#"
                            ><i class="fab fa-linkedin-in fw-normal"></i></a
                        >
                        <a class="btn btn-primary btn-square" href="#"
                            ><i class="fab fa-instagram fw-normal"></i></a
                        >
                    </div> -->
                </div>
            </div>
            <!-- Contact Section -->
            <div class="col-lg-5 col-md-6 mb-4 text-center">
                <h1 class="footer-logo">
                    <Image src={Logo} alt="company logo" />
                    EyeQ Security.
                </h1>
                <p>
                    We are a 24-hour security & protection company that strives
                    to achieve client safety and protection, as well as to
                    protect your property and lives from threats and dangers.
                </p>
                <form class="footer-newsletter" action="">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control border-white p-3"
                            placeholder="Your Email"
                        />
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright © 2023 EyeQ Security, All rights reserved.</p>
            <p>
                <a href="#">Term of use</a> |
                <a href="#">Cookie Policy</a> |
                <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>

<style>
    .footer {
        background-color: #000;
        color: #fff;
        padding: 40px 0;
    }
    .footer h5 {
        color: #fff;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footer ul {
        list-style: none;
        padding: 0;
    }
    .footer ul li {
        margin-bottom: 0.5rem;
        transition: 0.25s ease;
    }
    .footer ul li:hover {
        transform: translateX(10px);
    }
    .footer ul li a {
        color: #b0b0b0;
        text-decoration: none;
    }
    .footer ul li a:hover {
        color: #f2c202;
    }
    .footer .footer-logo {
        /* font-size: 24px; */
        color: var(--primary);
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footer .footer-logo img {
        height: 100px;
        width: auto;
    }

    .footer .footer-newsletter {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer .contact-info {
        font-size: 14px;
    }
    .footer .contact-info i {
        color: #f2c202;
        margin-right: 10px;
    }
    .footer-bottom {
        border-top: 1px solid #444;
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
    }
</style>
