---
interface Props {
    top: string;
    main: string;
    offset?: boolean;
}

const props = Astro.props as Props;
---

<style>
    .section-title h1 {
        text-transform: capitalize;
    }
</style>

<div
    class={"section-title position-relative pb-3 mb-5" +
        (props.offset ? "" : " text-center mx-auto")}
    style="max-width: 600px;"
>
    <h5 class="fw-bold text-primary text-uppercase">{props.top}</h5>
    <h1 class="mb-0">{props.main}</h1>
</div>
