---
interface Props {
    top: string;
    main: string;
}

const props = Astro.props as Props;
---

<div
    class="section-title text-center position-relative pb-3 mb-5 mx-auto"
    style="max-width: 600px;"
>
    <h5 class="fw-bold text-primary text-uppercase">{props.top}</h5>
    <h1 class="mb-0">{props.main}</h1>
</div>
