<div class="container-fluid bg-raisin-black px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light">
                    <i class="fa fa-map-marker-alt me-2"></i>
                    #2-1800 Logan Avenue Winnipeg, Manitoba R2R 0H3
                </small>
                <small class="me-3 text-light">
                    <i class="fa fa-phone-alt me-2"></i>
                    (204) 202-7287, (204) 881-1947
                </small>
                <small class="text-light"
                    ><i class="fa fa-envelope-open me-2"
                    ></i>info@eyeqsecurity.ca</small
                >
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a
                    aria-label="twitter"
                    class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="/"
                >
                    <i class="fab fa-twitter fw-normal"></i>
                </a>
                <a
                    aria-label="facebook"
                    class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="/"
                >
                    <i class="fab fa-facebook-f fw-normal"></i>
                </a>
                <a
                    aria-label="linkedin"
                    class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="/"
                >
                    <i class="fab fa-linkedin-in fw-normal"></i>
                </a>
                <a
                    aria-label="instagram"
                    class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="/"
                >
                    <i class="fab fa-instagram fw-normal"></i>
                </a>
                <a
                    aria-label="youtube"
                    class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
                    href="/"
                >
                    <i class="fab fa-youtube fw-normal"></i>
                </a>
            </div>
        </div>
    </div>
</div>
