---
import type { ImageMetadata } from "astro";

interface Props {
    src: ImageMetadata;
    name?: string;
    designation?: string;
}

const { src, name, designation } = Astro.props as Props;
---

<div class="team-item bg-cosmic-latte rounded overflow-hidden">
    <div class="team-img position-relative overflow-hidden">
        <img class="img-fluid w-100" src={src.src} alt="member photo" />
        <div class="team-social">
            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-twitter fw-normal"></i></a
            >
            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-facebook-f fw-normal"></i></a
            >
            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-instagram fw-normal"></i></a
            >
            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-linkedin-in fw-normal"></i></a
            >
        </div>
    </div>
    {
        name && (
            <div class="text-center py-4">
                <h4 class="text-primary">{name}</h4>
                <p class="text-uppercase m-0">{designation}</p>
            </div>
        )
    }
</div>
