---
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../layouts/Section.astro";
import SectionFluid from "../layouts/SectionFluid.astro";
import SectionTitle from "../components/Layout/SectionTitle.astro";
import ValueItem from "../components/Values/ValueItem.astro";
import Team from "../components/Team/Team.astro";

// Assets
import TitleImage from "../assets/img/carousel-1.jpg";
import ValuesImage from "../assets/img/about/values.jpg";
---

<style>
    @media screen and (max-width: 900px) {
        .values .values-right ul {
            padding-left: 0;
        }
    }
</style>

<PageLayout
    page_title="about"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- Goal Start -->
    <SectionFluid class="bg-gray">
        <div class="row w-100 m-0 goal">
            <div class="col-lg-6 p-0">
                <img
                    src="https://picsum.photos/seed/idk/800/600"
                    alt=""
                    class="img-fluid w-100"
                />
            </div>
            <div
                class="col-lg-6 px-5 my-5 mb-xl-0 d-flex justify-content-center goal-right"
            >
                <div>
                    <SectionTitle
                        top="Our Goal"
                        main="Your Trusted Partneer for all Security"
                        offset
                    />
                    <p class="m-0">
                        We have the highest standards of integrity and
                        excellence at every level. To us, integrity and
                        professionalism are of utmost importance. As an
                        organization committed to excellence, we maintain the
                        highest industry standards for security officer's
                        training, honor, loyalty, and character. All of our
                        security officers are highly trained and are subject to
                        constant site supervision and random inspections to meet
                        the demands of the market, effectively. Our security
                        officers are skilled and able to assist in undertaking
                        additional duties such as reception, customer service,
                        and dispute management.
                    </p>
                </div>
            </div>
        </div>
    </SectionFluid>
    <!-- Goal End -->

    <!-- Vision & Mission Start -->
    <SectionFluid>
        <div class="row w-100 m-0">
            <div
                class="col-5 col-lg-3 bg-raisin-black d-flex justify-content-center align-items-center"
            >
                <div class="text-center">
                    <i class="fas fa-shield-alt fa-3x text-primary"></i>
                    <h4 class="text-white mt-3">Our Mission</h4>
                </div>
            </div>
            <div class="col-7 col-lg-3 px-4 py-4 text-jet bg-cosmic-latte">
                We provide a professional yet personalized service and give
                security solutions that are specifically designed to meet your
                demands. We take the time to get to know you and offer the best
                customer service around.
            </div>
            <div
                class="col-5 col-lg-3 bg-raisin-black d-flex justify-content-center align-items-center"
            >
                <div class="text-center">
                    <i class="fas fa-eye fa-3x text-primary"></i>
                    <h4 class="text-white mt-3">Our Vision</h4>
                </div>
            </div>
            <div class="col-7 col-lg-3 px-4 py-4 text-jet bg-cosmic-latte">
                We aspire to be acknowledged as a top provider of professional
                security in the region.
            </div>
        </div>
    </SectionFluid>
    <!-- Vision & Mission End -->

    <!-- Values Start -->
    <!-- bg image src https://www.pexels.com/photo/sunlight-on-floor-62693/ -->
    <Section background_image={ValuesImage}>
        <div class="row gx-5 py-5 justify-content-between values">
            <div class="col-12 col-lg-5 text-white values-left">
                <SectionTitle
                    top="Our Values"
                    main="Principles We Stand By"
                    offset
                    light
                />
                Cubilia scelerisque ultricies at cras tempus phasellus primis habitant.
                Penatibus pulvinar at vel cursus dignissim sem condimentum molestie.
                Lobortis hac aenean posuere justo letius laoreet augue.
            </div>
            <!-- col-lg-6 if only title else col-lg-7 with description -->
            <!-- ps-0 -->
            <div class="col-12 col-lg-6 mt-4 mt-lg-0 text-white values-right">
                <ul class="h-100 d-flex flex-column justify-content-evenly">
                    <ValueItem value="Clients First" />
                    <ValueItem value="Integrity" />
                    <ValueItem value="Responsiveness & Reliability" />
                    <ValueItem value="Relationships" />
                    <ValueItem value="Sustainability" />
                    <ValueItem value="Teamwork" />
                    <ValueItem value="Quality" />
                    <ValueItem value="Leadership" />
                </ul>
            </div>
        </div>
    </Section>
    <!-- Values End -->

    <!-- Team Start -->
    <Section
        class="bg-gray"
        title_top="Our Team"
        title_main="Professional Staff Ready to Help Your Business"
    >
        <Team />
    </Section>
    <!-- Team End -->
</PageLayout>
