---
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../layouts/Section.astro";
import SectionFluid from "../layouts/SectionFluid.astro";
import SectionTitle from "../components/Layout/SectionTitle.astro";
import ValueItem from "../components/Values/ValueItem.astro";
import Team from "../components/Team/Team.astro";

// Assets
import TitleImage from "../assets/img/carousel-1.jpg";
import ValuesImage from "../assets/img/about/values.jpg";
---

<style>
    /*** About Section ***/
    .rounded {
        border-radius: 10px !important;
    }

    h4.sidebar {
        margin-bottom: 1rem;
        text-transform: capitalize;
        position: relative;
        padding-left: 15px;
    }
    h4.sidebar::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: #f2c202;
    }

    .about .about-right img {
        border: 3px solid #f2c202; /* Optional: adds a border around the inset image */
    }

    .about .about-right .main-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .about .about-right .inset-img {
        position: absolute;
        bottom: -40px;
        right: -40px;
        border: 2px solid #f2c202; /* Optional: adds a border around the inset image */
    }

    /*** Values and Mission ***/
    @media screen and (max-width: 900px) {
        .values .values-right ul {
            padding-left: 0;
        }
        .about .about-right .main-img {
            width: 300px;
        }

        .about .about-right .inset-img {
            /* Adjust the size of the inset image */
            width: 200px;
        }
    }

    /* Expertise Section */
    .expertise .expertise-card {
        margin-bottom: 3rem;
    }
    .expertise .expertise-card p {
        margin-bottom: 1rem;
    }
    .expertise .expertise-card i {
        color: #f2c202;
    }
    .expertise .expertise-card h4 {
        margin-bottom: 1rem;
    }
    @media screen and (min-width: 768px) {
        .expertise .expertise-card {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        .expertise .expertise-card:nth-child(2) {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }
    }
</style>

<PageLayout
    page_title="about"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- About Start -->
    <Section>
        <div
            class="row gx-5 rounded bg-cosmic-latte px-3 py-5 p-md-5 shadow-lg about"
        >
            <div class="col-12 col-lg-6 about-left">
                <SectionTitle top="About Us" main="Security Services" offset />
                <p>
                    We are a 24-hour security protection company that strives to
                    achieve client safety and protection, as well as to protect
                    your property and lives from threats and dangers.
                </p>
                <h4 class="sidebar">PIPEDA Compliance</h4>
                <p>
                    EyeQ Security Services is committed to protecting the
                    personal data in its control that which is provided by
                    individuals to ensure compliance with the PIPEDA. EyeQ
                    Security Services, will collect, use, or disclose of the
                    personal data for purposes consented by individuals mainly
                    in employment activities and security services rendering. If
                    you have any queries or comment pertaining to your Personal
                    Data or would like to withdraw your consent to any use of
                    your Personal Data; or would like to obtain access and make
                    corrections to your Personal Data, please contact us by
                    e-mail to <a
                        class="text-black"
                        style="text-decoration: underline;"
                        href="mailto:admin@eyeqsecurity.ca"
                        >admin@eyeqsecurity.ca</a
                    > or direct to 1608-72 Donald Street, Winnipeg, MB, Canada R3C1L7.
                    Due to your personal data security, we will require you to complete
                    the necessary request Forms that verifies your identity before
                    we can respond significantly to your request.
                </p>
            </div>
            <div
                class="col-12 col-lg-6 mt-3 mt-lg-0 d-flex align-items-center justify-content-center about-right"
            >
                <div class="position-relative">
                    <img
                        src="https://picsum.photos/seed/back/640/400"
                        alt=""
                        class="main-img rounded shadow-lg"
                    />
                    <img
                        src="https://picsum.photos/seed/bbno$/320/200"
                        alt=""
                        class="inset-img rounded shadow-lg"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- About End -->

    <!-- Goal Start -->
    <SectionFluid class="bg-gray">
        <div class="row w-100 m-0 goal">
            <div class="col-lg-6 p-0">
                <img
                    src="https://picsum.photos/seed/idk/800/600"
                    alt=""
                    class="img-fluid w-100"
                />
            </div>
            <div
                class="col-lg-6 px-5 my-5 mb-xl-0 d-flex justify-content-center goal-right"
            >
                <div>
                    <SectionTitle
                        top="Our Goal"
                        main="Your Trusted Partneer for all Security"
                        offset
                    />
                    <p class="m-0">
                        We have the highest standards of integrity and
                        excellence at every level. To us, integrity and
                        professionalism are of utmost importance. As an
                        organization committed to excellence, we maintain the
                        highest industry standards for security officer's
                        training, honor, loyalty, and character. All of our
                        security officers are highly trained and are subject to
                        constant site supervision and random inspections to meet
                        the demands of the market, effectively. Our security
                        officers are skilled and able to assist in undertaking
                        additional duties such as reception, customer service,
                        and dispute management.
                    </p>
                </div>
            </div>
        </div>
    </SectionFluid>
    <!-- Goal End -->

    <!-- Vision & Mission Start -->
    <SectionFluid>
        <div class="row w-100 m-0">
            <div
                class="col-5 col-lg-3 bg-raisin-black d-flex justify-content-center align-items-center"
            >
                <div class="text-center">
                    <i class="fas fa-shield-alt fa-3x text-primary"></i>
                    <h4 class="text-white mt-3">Our Mission</h4>
                </div>
            </div>
            <div class="col-7 col-lg-3 px-4 py-4 text-jet bg-cosmic-latte">
                We provide a professional yet personalized service and give
                security solutions that are specifically designed to meet your
                demands. We take the time to get to know you and offer the best
                customer service around.
            </div>
            <div
                class="col-5 col-lg-3 bg-raisin-black d-flex justify-content-center align-items-center"
            >
                <div class="text-center">
                    <i class="fas fa-eye fa-3x text-primary"></i>
                    <h4 class="text-white mt-3">Our Vision</h4>
                </div>
            </div>
            <div class="col-7 col-lg-3 px-4 py-4 text-jet bg-cosmic-latte">
                We aspire to be acknowledged as a top provider of professional
                security in the region.
            </div>
        </div>
    </SectionFluid>
    <!-- Vision & Mission End -->

    <!-- Values Start -->
    <!-- bg image src https://www.pexels.com/photo/sunlight-on-floor-62693/ -->
    <Section background_image={ValuesImage}>
        <div class="row gx-5 py-5 justify-content-between values">
            <div class="col-12 col-lg-5 text-white values-left">
                <SectionTitle
                    top="Our Values"
                    main="Principles We Stand By"
                    offset
                    light
                />
                <div class="row">
                    <i
                        class="col-2 col-md-1 me-md-2 fa fa-bookmark text-primary fa-3x mb-5"
                    ></i>
                    <p class="col">
                        Cubilia scelerisque ultricies at cras tempus phasellus
                        primis habitant. Penatibus pulvinar at vel cursus
                        dignissim sem condimentum molestie. Lobortis hac aenean
                        posuere justo letius laoreet augue.
                    </p>
                </div>
            </div>
            <!-- col-lg-6 if only title else col-lg-7 with description -->
            <!-- ps-0 -->
            <div class="col-12 col-lg-6 mt-4 mt-lg-0 text-white values-right">
                <ul class="h-100 d-flex flex-column justify-content-evenly">
                    <ValueItem value="Clients First" />
                    <ValueItem value="Integrity" />
                    <ValueItem value="Responsiveness & Reliability" />
                    <ValueItem value="Relationships" />
                    <ValueItem value="Sustainability" />
                    <ValueItem value="Teamwork" />
                    <ValueItem value="Quality" />
                    <ValueItem value="Leadership" />
                </ul>
            </div>
        </div>
    </Section>
    <!-- Values End -->

    <!-- Team Start -->
    <Section
        class="bg-gray"
        title_top="Our Team"
        title_main="Professional Staff Ready to Help Your Business"
    >
        <Team />
    </Section>
    <!-- Team End -->

    <!-- Expertise Start -->
    <Section title_top="Our Expertise" title_main="Experience The Best With Us">
        <div class="expertise">
            <p class="mb-5 text-center">
                We provide top notch security services with industry best
                expertise to leave yourself, business, and important assets
                protected and safe.
            </p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 expertise-card">
                    <h4 class="sidebar">Personal Security</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas leo tortor, elementum non rhoncus eget,
                        ultrices at quam. Phasellus sit amet nisl id ex
                        consectetur elementum non a purus. Etiam tempus nibh et
                        luctus lacinia.
                    </p>
                    <i class="fa fa-users fa-3x"></i>
                </div>
                <div class="col-12 col-md-6 col-lg-4 expertise-card">
                    <h4 class="sidebar">Commercial Security</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas leo tortor, elementum non rhoncus eget,
                        ultrices at quam. Phasellus sit amet nisl id ex
                        consectetur elementum non a purus. Etiam tempus nibh et
                        luctus lacinia.
                    </p>
                    <i class="fa fa-warehouse fa-3x"></i>
                </div>
                <div class="col-12 col-md-6 col-lg-4 expertise-card">
                    <h4 class="sidebar">Security Consulting</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas leo tortor, elementum non rhoncus eget,
                        ultrices at quam. Phasellus sit amet nisl id ex
                        consectetur elementum non a purus. Etiam tempus nibh et
                        luctus lacinia.
                    </p>
                    <i class="fa fa-hands-helping fa-3x"></i>
                </div>
            </div>
        </div>
    </Section>
    <!-- Expertise End -->
</PageLayout>
