---
import PageLayout from "../layouts/PageLayout.astro";

// Assets
import TitleImage from "../assets/img/carousel-1.jpg";
---

<PageLayout
    page_title="contact"
    page_description="some description"
    background_image={TitleImage}
>
    <h1>Contact</h1>
</PageLayout>
