---
// Static Data
import locations from "../data/locations";
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components
import Section from "../layouts/Section.astro";
import SectionTitle from "../components/Layout/SectionTitle.astro";
import StatCard from "../components/contact/StatCard.astro";
import LocationCard from "../components/contact/LocationCard.astro";
import QuoteLight from "../components/Layout/QuoteLight.astro";
// Assets
import TitleImage from "../assets/img/carousel-1.jpg";
import PixelMap from "../assets/img/contact/can_pixel_2_720.jpg";
---

<PageLayout
    nav_active="contact"
    page_title="contact"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- Stats Start -->
    <Section>
        <div class="row">
            <div class="col-lg-6">
                <SectionTitle
                    top="Nationwide Presence"
                    main="We Are Spread Across Canada"
                    offset
                />
                <div class="d-flex">
                    <StatCard stat="Years of Experience" value={5} />
                    <StatCard stat="Provinces Served" value={5} />
                    <StatCard stat="Workers Employed" value={300} />
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0 d-flex align-items-center">
                <img class="img-fluid" src={PixelMap.src} alt="" />
            </div>
        </div>
    </Section>
    <!-- Stats End -->

    <!-- Offices Start -->
    <Section
        title_top="Contact Us"
        title_main="If You Have Any Query Feel Free To Contact Us"
    >
        <!-- Manitoba Start -->
        <h2 class="location-title">Manitoba</h2>
        <div class="row g-5 manitoba mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.mb.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-MB"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6109.534040336647!2d-97.19767461195563!3d49.92240515687383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea72528a568b1d%3A0x33d6ef69a8a991e5!2s1800%20Logan%20Ave%2C%20Winnipeg%2C%20MB%20R2R%200H3%2C%20Canada!5e0!3m2!1sen!2sin!4v1742118473643!5m2!1sen!2sin"
                    width="800"
                    height="500"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Manitoba End -->

        <!-- Saskatchewan Start -->
        <h2 class="location-title">Saskatchewan</h2>
        <div class="row g-5 saskatchewan mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.sk.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-SK"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13823.277804995025!2d-104.60743422049124!3d50.45881711970631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x531c1f141de8de75%3A0x596cab01873e08df!2sEyeQ%20Security%20Services%20Inc.!5e0!3m2!1sen!2sin!4v1724408929505!5m2!1sen!2sin"
                    width="800"
                    height="400"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Saskatchewan End -->

        <!-- Ontario Start -->
        <h2 class="location-title">Ontario</h2>
        <div class="row g-5 ontario mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.on.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-ON"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4071.402206613385!2d-79.42698004469725!3d43.81609947885458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2c8a9361bcb5%3A0x12fb0662f9c15ee5!2s7711%20Yonge%20St%20%23201c%2C%20Markham%2C%20ON%20L3T%201Z5%2C%20Canada!5e0!3m2!1sen!2sin!4v1742119017532!5m2!1sen!2sin"
                    width="800"
                    height="500"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Ontario End -->

        <!-- Alberta Start -->
        <h2 class="location-title">Alberta</h2>
        <div class="row g-5 alberta mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.ab.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-AB"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5007.185474489431!2d-113.9353596522974!3d51.134419786923225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537163efd09c8a1b%3A0x50b448ec49fba91c!2sCalgary%2C%20AB%20T3J%200L5%2C%20Canada!5e0!3m2!1sen!2sin!4v1731698689182!5m2!1sen!2sin"
                    width="800"
                    height="500"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Alberta End -->

        <!-- BC Start -->
        <h2 class="location-title">British Columbia</h2>
        <div class="row g-5 bc mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.bc.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-BC"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5213.157869932919!2d-122.84214350275032!3d49.20854678552681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485d796b0d2f123%3A0x370565093f9ce854!2sSurrey%2C%20BC%20V3R%202J6%2C%20Canada!5e0!3m2!1sen!2sin!4v1731699049102!5m2!1sen!2sin"
                    width="800"
                    height="500"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- BC End -->
    </Section>

    <!-- Quote Start -->
    <Section class="bg-gray">
        <QuoteLight />
    </Section>
    <!-- Quote End -->
</PageLayout>

<style>
    .location-title {
        position: relative;
        margin-bottom: 2.5rem;
    }
    .location-title::after {
        content: "";
        position: absolute;
        bottom: -5px; /* Adjust the distance from the bottom */
        left: 0;
        right: 0;
        width: 150px;
        height: 5px; /* Adjust the thickness of the underline */
        background-color: #f2c202;
    }

    iframe {
        scroll-margin-top: 125px;
    }

    @media screen and (max-width: 900px) {
        iframe {
            height: 300px;
        }
    }
</style>

<script>
    import { locationSrc } from "../data/locations";

    const locationBtns =
        document.querySelectorAll<HTMLAnchorElement>(".location-btn");

    const setIframe = (frame: HTMLIFrameElement, newLocation: string) => {
        frame.src = newLocation;
    };

    locationBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const province = btn.getAttribute("data-province")!;
            const city_uname = btn.getAttribute("data-city")!;

            setIframe(
                document.querySelector<HTMLIFrameElement>(`#map-${province}`)!,
                locationSrc[province][city_uname],
            );
        });
    });
</script>
