---
// Static Data
import locations from "../data/locations";

// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../layouts/Section.astro";
import SectionTitle from "../components/Layout/SectionTitle.astro";
import StatCard from "../components/contact/StatCard.astro";
import LocationCard from "../components/contact/LocationCard.astro";
import QuoteLight from "../components/Layout/QuoteLight.astro";

// Assets
import TitleImage from "../assets/img/carousel-1.jpg";
import PixelMap from "../assets/img/contact/can_pixel_2_720.jpg";
---

<PageLayout
    page_title="contact"
    page_description="some description"
    background_image={TitleImage}
>
    <!-- Stats Start -->
    <Section>
        <div class="row">
            <div class="col-lg-6">
                <SectionTitle
                    top="top-title"
                    main="We Are Spread Across Canada"
                    offset
                />
                <p class="mb-4">
                    Laoreet lorem consectetuer hendrerit dictumst curae volutpat
                    cubilia elit velit natoque. Eleifend diam volutpat lectus
                    aliquam aenean. Dolor sed orci scelerisque taciti sodales
                    tortor.
                </p>
                <div class="d-flex">
                    <StatCard stat="Years of Experience" value={10} />
                    <StatCard stat="Offices in Canada" value={10} />
                    <StatCard stat="Workers Employed" value={10} />
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0 d-flex align-items-center">
                <img class="img-fluid" src={PixelMap.src} alt="" />
            </div>
        </div>
    </Section>
    <!-- Stats End -->

    <!-- Offices Start -->
    <Section
        title_top="Contact Us"
        title_main="If You Have Any Query Feel Free To Contact Us"
    >
        <!-- Manitoba Start -->
        <h2 class="location-title">Manitoba</h2>
        <div class="row g-5 manitoba mb-5">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.mb.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-mb"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82345.63809626097!2d-97.2539841!3d49.836798!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea7169b40e3fed%3A0x6d81a36c5a258f4f!2sEyeQ%20Security%20Services!5e0!3m2!1sen!2sin!4v1724404906959!5m2!1sen!2sin"
                    width="800"
                    height="500"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Manitoba End -->

        <!-- Saskatchewan Start -->
        <h2 class="location-title">Saskatchewan</h2>
        <div class="row g-5 saskatchewan">
            <div class="col-lg-6 p-1">
                <div class="row g-5">
                    {
                        locations.sk.map((l) => (
                            <div class="col-md-6">
                                <LocationCard {...l} />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <!-- og iframe dim 800x600 -->
                <iframe
                    id="map-sk"
                    class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13823.277804995025!2d-104.60743422049124!3d50.45881711970631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x531c1f141de8de75%3A0x596cab01873e08df!2sEyeQ%20Security%20Services%20Inc.!5e0!3m2!1sen!2sin!4v1724408929505!5m2!1sen!2sin"
                    width="800"
                    height="400"
                    style="border:0; width:100%; height"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Saskatchewan End -->
    </Section>

    <!-- Quote Start -->
    <Section class="bg-gray">
        <QuoteLight />
    </Section>
    <!-- Quote End -->
</PageLayout>

<style>
    .location-title {
        position: relative;
        margin-bottom: 2.5rem;
    }
    .location-title::after {
        content: "";
        position: absolute;
        bottom: -5px; /* Adjust the distance from the bottom */
        left: 0;
        right: 0;
        width: 150px;
        height: 5px; /* Adjust the thickness of the underline */
        background-color: #f2c202;
    }

    iframe {
        scroll-margin-top: 125px;
    }

    @media screen and (max-width: 900px) {
        iframe {
            height: 300px;
        }
    }
</style>

<script>
    import { locationSrc } from "../data/locations";

    const locationBtns =
        document.querySelectorAll<HTMLAnchorElement>(".location-btn");
    const mbIframe = document.querySelector<HTMLIFrameElement>("#map-mb")!;
    const skIframe = document.querySelector<HTMLIFrameElement>("#map-sk")!;

    const setIframe = (frame: HTMLIFrameElement, newLocation: string) => {
        frame.src = newLocation;
    };

    locationBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const province = btn.getAttribute("data-province")!;
            const city = btn.getAttribute("data-city")!;
            switch (province) {
                case "MB":
                    setIframe(mbIframe, locationSrc[province][city]);
                    break;

                case "SK":
                    setIframe(skIframe, locationSrc[province][city]);
                    break;

                default:
                    break;
            }
        });
    });
</script>
