---
import Layout from "../layouts/Layout.astro";

// Components
import SectionTitle from "../components/Layout/SectionTitle.astro";
import Section from "../layouts/Section.astro";
import Button from "../components/Layout/Button.astro";
import FactCard from "../components/Home/FactCard.astro";
import Feature from "../components/Home/Feature.astro";
// Sections
import Testimonial from "../components/Testimonial/Testimonial.astro";
import Quote from "../components/Layout/Quote.astro";
import BlogRow from "../components/Layout/BlogRow.astro";
---

<Layout>
    <style>
        .hero .hero-left {
            text-transform: capitalize;
        }
    </style>
    <!-- Hero Start -->
    <div class="container-fluid position-relative p-0">
        <div class="row m-0 w-100 hero">
            <div
                class="col-lg-5 bg-raisin-black p-5 d-flex align-items-center hero-left"
            >
                <div>
                    <h1 class="text-light mb-5">
                        Pioneers In Industry for over a decade
                    </h1>
                    <Button href="/">Request A Quote</Button>
                </div>
            </div>
            <div class="col-lg-7 p-0 hero-right">
                <img
                    class="w-100"
                    alt=""
                    src="https://picsum.photos/seed/idk/800/600"
                />
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button
                        type="button"
                        class="btn bg-white btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div
                    class="modal-body d-flex align-items-center justify-content-center"
                >
                    <div class="input-group" style="max-width: 600px;">
                        <input
                            type="text"
                            class="form-control bg-transparent border-primary p-3"
                            placeholder="Type search keyword"
                        />
                        <button class="btn btn-primary px-4"
                            ><i class="bi bi-search"></i></button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <FactCard
                    icon="fa-users"
                    title="Happy Customers"
                    value={1235}
                />
                <FactCard
                    icon="fa-check"
                    title="Happy Employees"
                    variant="light"
                    value={1235}
                />
                <FactCard
                    icon="fa-award"
                    title="Highly Experienced<br/> Management"
                    value={1235}
                />
                <FactCard
                    icon="fa-award"
                    title="Awards for Quality<br/> Services"
                    variant="light"
                    value={12345}
                />
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- About Start -->
    <Section>
        <div class="row g-5">
            <div class="col-lg-7">
                <SectionTitle
                    top="About Us"
                    main="EyeQ Security Services"
                    offset
                />
                <p class="mb-4">
                    We are a 24-hour security & protection company that strives
                    to achieve client safety and protection, as well as to
                    protect your property and lives from threats and dangers.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>Award
                            Winning
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"
                            ></i>Professional Staff
                        </h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>24/7
                            Support
                        </h5>
                        <h5 class="mb-3">
                            <i class="fa fa-check text-primary me-3"></i>Fair
                            Prices
                        </h5>
                    </div>
                </div>
                <div
                    class="d-flex align-items-center mb-4 wow fadeIn"
                    data-wow-delay="0.6s"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;"
                    >
                        <i class="fa fa-phone-alt text-black"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">+012 345 6789</h4>
                    </div>
                </div>
                <Button href="/contact">Request A Quote</Button>
                <Button href="/about" variant="outline-dark">
                    Read More
                </Button>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.9s"
                        src="https://picsum.photos/800/800"
                        style="object-fit: cover;"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- About End -->

    <!-- Features Start -->
    <Section
        title_top="Why Choose Us"
        title_main="We Are Here to Grow Your Business Exponentially"
    >
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        icon="fa-cubes"
                        description="Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor"
                        data_wow_delay="0.2s"
                    />
                    <Feature
                        icon="fa-award"
                        description="Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor"
                        data_wow_delay="0.6s"
                    />
                </div>
            </div>
            <div
                class="col-lg-4 wow zoomIn"
                data-wow-delay="0.9s"
                style="min-height: 350px;"
            >
                <div class="position-relative h-100">
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.1s"
                        src="https://picsum.photos/800/800"
                        style="object-fit: cover;"
                    />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        icon="fa-users-cog"
                        description="Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor"
                        data_wow_delay="0.4s"
                    />
                    <Feature
                        icon="fa-phone-alt"
                        description="Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor"
                        data_wow_delay="0.8s"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- Features Start -->

    <!-- Service Start -->
    <Section
        title_top="Our Services"
        title_main="Custom IT Solutions for Your Successful Business"
    >
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-cosmic-latte rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">Cyber Security</h4>
                    <p class="m-0">
                        Amet justo dolor lorem kasd amet magna sea stet eos vero
                        lorem ipsum dolore sed
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="service-item bg-cosmic-latte rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fa fa-chart-pie text-white"></i>
                    </div>
                    <h4 class="mb-3">Data Analytics</h4>
                    <p class="m-0">
                        Amet justo dolor lorem kasd amet magna sea stet eos vero
                        lorem ipsum dolore sed
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div
                    class="service-item bg-cosmic-latte rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fa fa-code text-white"></i>
                    </div>
                    <h4 class="mb-3">Web Development</h4>
                    <p class="m-0">
                        Amet justo dolor lorem kasd amet magna sea stet eos vero
                        lorem ipsum dolore sed
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-cosmic-latte rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Apps Development</h4>
                    <p class="m-0">
                        Amet justo dolor lorem kasd amet magna sea stet eos vero
                        lorem ipsum dolore sed
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="service-item bg-cosmic-latte rounded d-flex flex-column align-items-center justify-content-center text-center"
                >
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">SEO Optimization</h4>
                    <p class="m-0">
                        Amet justo dolor lorem kasd amet magna sea stet eos vero
                        lorem ipsum dolore sed
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div
                    class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
                >
                    <h3 class="text-white mb-3">Call Us For Quote</h3>
                    <p class="text-white mb-3">
                        Clita ipsum magna kasd rebum at ipsum amet dolor justo
                        dolor est magna stet eirmod
                    </p>
                    <h2 class="text-white mb-0">+012 345 6789</h2>
                </div>
            </div>
        </div>
    </Section>
    <!-- Service End -->

    <!-- Quote Start -->
    <Section>
        <Quote />
    </Section>
    <!-- Quote End -->

    <!-- Testimonial Start -->
    <Section
        title_top="Testimonial"
        title_main="What Our Clients Say About Our Digital Services"
    >
        <Testimonial />
    </Section>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <Section
        title_top="Latest Blog"
        title_main="Read The Latest Articles from Our Blog Post"
    >
        <BlogRow />
    </Section>
    <!-- Blog Start -->

    <!-- Vendor Start -->
    <Section title_top="Our Clients" title_main=" Businesses That Rely On Us">
        <div class="bg-white mt-5">
            <div class="owl-carousel vendor-carousel">
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
            </div>
        </div>
    </Section>
    <!-- Vendor End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
        ><i class="bi bi-arrow-up"></i></a
    >
</Layout>
