---
// Layout
import RootLayout from "../layouts/RootLayout.astro";

// Components
import SectionTitle from "../components/Layout/SectionTitle.astro";
import Section from "../layouts/Section.astro";
import Button from "../components/Layout/Button.astro";
import FactCard from "../components/Home/FactCard.astro";
import Feature from "../components/Home/Feature.astro";
// Sections
import FullScreenSearch from "../components/Layout/FullScreenSearch.astro";
import Testimonial from "../components/Testimonial/Testimonial.astro";
import QuoteDark from "../components/Layout/QuoteDark.astro";
import BlogRow from "../components/Layout/BlogRow.astro";
import ServiceCard from "../components/Home/ServiceCard.astro";
---

<RootLayout page_title="home" page_description="some description">
    <!-- Hero Start -->
    <div class="container-fluid position-relative p-0">
        <div class="row m-0 w-100 hero">
            <div
                class="col-lg-5 bg-raisin-black p-5 d-flex align-items-center hero-left"
            >
                <div>
                    <h1 class="text-light mb-5">
                        Pioneers In Industry for over a decade
                    </h1>
                    <Button href="/contact">Request A Quote</Button>
                </div>
            </div>
            <div class="col-lg-7 p-0 hero-right">
                <img
                    class="w-100"
                    alt=""
                    src="https://picsum.photos/seed/idk/800/600"
                />
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Full Screen Search Start -->
    <FullScreenSearch />
    <!-- Full Screen Search End -->

    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <FactCard
                    icon="fa-smile"
                    title="Happy Customers"
                    value={500}
                    suffix="+"
                />
                <FactCard
                    icon="fa-users"
                    title="Happy Employees"
                    variant="light"
                    value={300}
                    suffix="+"
                />
                <FactCard
                    icon="fa-user-tie"
                    title="Highly Experienced<br/> Management"
                    value={100}
                    suffix="%"
                />
                <FactCard
                    icon="fa-trophy"
                    title="Awards for Quality<br/> Services"
                    variant="light"
                    value={5}
                    suffix="+"
                />
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- Clients Start -->
    <Section>
        <div class="row">
            <style>
                h2.underline {
                    font-weight: 500 !important;
                }
            </style>
            <div class="col-lg-5">
                <h2 class="underline">
                    Trusted by leading brands & organizations of all sizes
                </h2>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel client-carousel">
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                    <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                </div>
            </div>
        </div>
    </Section>
    <!-- Clients End -->

    <!-- About Start -->
    <Section>
        <div class="row g-5">
            <div class="col-lg-7">
                <SectionTitle
                    top="About Us"
                    main="EyeQ Security Services"
                    offset
                />
                <p class="mb-1">
                    We are a 24-hour security & protection company that strives
                    to achieve client safety and protection, as well as to
                    protect your property and lives from threats and dangers.
                </p>
                <p class="mb-4">
                    EyeQ Security Services is committed to protecting the
                    personal data in its control that which is provided by
                    individuals to ensure compliance with the PIPEDA.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">
                                    Offering Top-Notch Quality Services
                                </span>
                            </div>
                        </h5>
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">
                                    Friendly security- That keep your business
                                    safe
                                </span>
                            </div>
                        </h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10"
                                    >Safeguarding the interests of our
                                    Stakeholders</span
                                >
                            </div>
                        </h5>
                        <h5 class="mb-3">
                            <div class="row g-0">
                                <i class="col-1 fa fa-check text-primary me-2"
                                ></i>
                                <span class="col-10">PIPEDA Compliant</span>
                            </div>
                        </h5>
                    </div>
                </div>
                <div
                    class="d-flex align-items-center mb-4 wow fadeIn"
                    data-wow-delay="0.6s"
                >
                    <div
                        class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;"
                    >
                        <i class="fa fa-phone-alt text-black"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">
                            +204 202-7287, +204 881-1947
                        </h4>
                    </div>
                </div>
                <Button class="mb-3 mb-md-0" href="/contact">
                    Request A Quote
                </Button>
                <Button href="/about" variant="outline-dark">
                    Read More
                </Button>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.9s"
                        src="https://picsum.photos/800/800"
                        style="object-fit: cover;"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- About End -->

    <!-- Features Start -->
    <Section
        class="bg-gray-gradient"
        title_top="Why Choose Us"
        title_main="We Are Here to Grow Your Business Exponentially"
    >
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        feature_title="Clients First"
                        icon="fa-handshake"
                        description="Forever. We understand the way your facilities are managed is the way the world perceives you. Your requirements are our immediate priority. You come before anything else."
                        data_wow_delay="0.2s"
                    />
                    <Feature
                        feature_title="Integrity"
                        icon="fa-balance-scale"
                        description="Integrity is what you expect from us and what you will get. We deliver as assured."
                        data_wow_delay="0.6s"
                    />

                    <Feature
                        feature_title="Sustainablity"
                        icon="fa-leaf"
                        description="This world has limited resources. In our delivery, we practice sustainable methods. Your child will inherit a better world than you did. We are doing our bit for this."
                        data_wow_delay="1.0s"
                    />
                </div>
            </div>
            <div
                class="col-lg-4 wow zoomIn"
                data-wow-delay="0.9s"
                style="min-height: 350px;"
            >
                <div class="position-relative h-100">
                    <!-- Implement srcset for 800x800 -->
                    <img
                        class="position-absolute w-100 h-100 rounded wow zoomIn"
                        data-wow-delay="0.1s"
                        src="https://picsum.photos/seed/123/720/1280"
                        style="object-fit: cover;"
                    />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <Feature
                        feature_title="Employee Management"
                        icon="fa-user-friends"
                        description="A motivated employee delivers the best. Our internal work culture fosters teamwork and we ensure very high motivational levels among our employees. It shows in your satisfaction."
                        data_wow_delay="0.4s"
                    />
                    <Feature
                        feature_title="Customer Satisfaction"
                        icon="fa-thumbs-up"
                        description="Your satisfaction is our guiding philosophy. For every mile, we will walk an extra mile."
                        data_wow_delay="0.8s"
                    />
                    <Feature
                        feature_title="Innovation"
                        icon="fa-lightbulb"
                        description="We are constantly looking for ways to deliver better and quicker. We invest in better technology and better training for our personnel. When you hire our services, you will notice the difference. To innovate is to inspire."
                        data_wow_delay="1.2s"
                    />
                </div>
            </div>
        </div>
    </Section>
    <!-- Features Start -->

    <!-- Service Start -->
    <Section class="services bg-cosmic-latte" data_wow_delay="0.1s">
        <div class="row text-jet">
            <div class="col-12 col-lg-4 pe-4 services-left">
                <!-- SectionTitle -->
                <SectionTitle
                    offset
                    top="Our Services"
                    main="Our Business Principles Include a Focus On"
                />
                <ul>
                    <li>
                        Clients' interests and safety are our immediate priority
                    </li>
                    <li>Ethical budget management</li>
                    <li>
                        Policy development, (comprehensive integrated security
                        functions)
                    </li>
                    <li>Staff growth, training and implement best practices</li>
                    <li>Communication and customer service</li>
                    <li>Commitment to safety, and environmental protection</li>
                    <li>
                        Aspire to build a great and winning corporate culture
                    </li>
                    <li>
                        A firm work ethic, open and honesty in interpersonal
                        dealings, and fairness
                    </li>
                    <li>Promote security awareness, and responsiveness</li>
                    <li>Upkeep with technology advances</li>
                    <li>Comply with legal and regulatory framework</li>
                    <li>
                        Conduct threat assessment and strategic security
                        planning
                    </li>
                    <li>Consultative and people-oriented Leadership</li>
                </ul>
            </div>
            <div class="col-12 col-lg-8 services-right mt-4 mt-lg-0">
                <div class="row gx-3">
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="General Guard Security"
                            description="EyeQ Security Services provides comprehensive security services that protect and preserve businesses and properties throughout Manitoba."
                            link="general-security"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="Bank security"
                            description="Banks are probably the riskiest and most sensitive businesses. Ensuring Comprehensive Security and Surveillance 24/7"
                            link="bank-security"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <ServiceCard
                            title="Hospital and Health care security"
                            description="Healthcare employees are also vulnerable as targets of violence, both from patients and family members alike. A hospital security officer is charged with maintaining the peace in a hospital & seniors living centers and working to safeguard the people and items within its walls."
                            link="hospital-security"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <a class="explore-more text-black" href="/services">
                            <h3 class="mb-3">Explore More Services</h3>
                            <p class="col-10 px-0" style="text-align: justify;">
                                Discover a wide range of services tailored to
                                your needs. Click to explore more and elevate
                                your experience with us.
                            </p>
                            <i class="fa fa-angle-right fa-3x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </Section>
    <!-- Service End -->

    <!-- Clients Start -->
    <!-- <Section title_top="Our Clients" title_main=" Businesses That Rely On Us">
        <div class="bg-white mt-5">
            <div class="owl-carousel vendor-carousel">
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
                <img src="https://picsum.photos/seed/idk/150/50" alt="" />
            </div>
        </div>
    </Section> -->
    <!-- Clients End -->

    <!-- Testimonial Start -->
    <Section
        class="bg-gray"
        title_top="Testimonial"
        title_main="What Our Clients Say About Our Digital Services"
    >
        <Testimonial />
    </Section>
    <!-- Testimonial End -->

    <!-- Quote Start -->
    <Section class="bg-raisin-black">
        <QuoteDark />
    </Section>
    <!-- Quote End -->

    <!-- Blog Start -->
    <Section
        title_top="Latest Blog"
        title_main="Read The Latest Articles from Our Blog Post"
    >
        <BlogRow />
    </Section>
    <!-- Blog Start -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
        ><i class="bi bi-arrow-up"></i></a
    >
</RootLayout>
