---
interface Props {
    variant?: "light" | "dark";
    suffix?: string;
    title: string;
    value: number;
    icon: string;
}

const props = Astro.props as Props;

if (!props.variant) props.variant = "dark";
---

<div class="col-lg-3 wow zoomIn" data-wow-delay="0.1s">
    <div
        class={"bg-primary shadow d-flex align-items-center justify-content-center p-0" +
            (props.variant == "dark" ? " bg-primary" : " bg-cosmic-latte")}
        style="height: 130px;"
    >
        <div
            class="bg-black d-flex align-items-center justify-content-center rounded mb-2"
            style="width: 50px; height: 50px;"
        >
            <i class={`fa ${props.icon} text-white`}></i>
        </div>
        <div class="ps-4">
            <h6 class="mb-0" set:html={props.title} />
            <div class="d-flex">
                <h2
                    class="mb-0"
                    data-toggle="counter-up"
                    set:html={props.value}
                />
                <h2>&nbsp;{props.suffix}</h2>
            </div>
        </div>
    </div>
</div>
