<div class="service-card w-100 mb-4">
    <img
        class="img-fluid mb-3"
        src="https://picsum.photos/seed/idk/1280/720"
        alt="Security Service 1"
    />
    <h3>General Security</h3>
    <p>
        Amet justo dolor lorem kasd amet magna sea stet eos vero lorem ipsum
        dolore sed
    </p>
    <a class="btn btn-outline-dark">Read More</a>
</div>

<style>
    img {
        border-radius: 10px;
    }
</style>
