---
interface Props {
    value: string;
    description?: string;
}

const { value, description } = Astro.props as Props;
---

<style>
    li {
        list-style-type: none;
    }
</style>

<li class="d-flex align-items-start">
    <i class="fas fa-check-circle m-1 me-2 text-primary"></i>
    <div>
        <h5 class="text-white">{value}</h5>
        {
            description && (
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquam, optio.
                </p>
            )
        }
    </div>
</li>
